{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "baseUrl": "./src",
        "paths": {
            "#shared/*": [
                "./@shared/*"
            ],
            "#collection/*": [
                "./collection/*"
            ],
            "#loan/*": [
                "./loan/*"
            ],
            "#class/*": [
                "./class/*"
            ]
        }
    }
}
